.forgot-password-page
{
  &-container
  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    margin-top:  5rem;
  }

  &-inner
  {
    width: 650px;
    padding: 5rem;
    align-content: center;
    border-radius: 5px;
    background-color: $color_white;
    box-shadow: 0 0 15px rgba(0,0,0,.15);

    @media screen and (max-width: 575px) {
      width: 100%
    }

    .forgot-password
    {
      display: block;
      text-align: center;

      .forgot-link
      {
        font-family: 'Poppins';
      }
    }

    .footer
    {
      margin: 1rem 0;
      text-align: center;

      a
      {
        font-family: 'Poppins';
      }
    }
  }


  &-title
  {
    font-family: 'Poppins';
    font-size: 16px;
  }

  &-subtitle
  {
    color: $color_gray_text;
  }

  &-form
  {
    margin-top: 2rem;
  }
}