.lookbook {
  padding: 0 3rem;

  @media screen and (max-width: 575px) {
    padding: 0;
  }

  &__items {
    position: relative;
    margin-bottom: 1rem !important;
    border: 0px !important;

    &:hover &--details-links {
      transition: all 0.5s, transform 0.5s;
      opacity: 1;
    }

    &:hover &--details-label {
      transition: all 0.2s, transform 0.2s;
      top: 0;
    }

    &--images {
      width: 100%;
    }

    &--details {
      position: absolute;
      background:#262F56;
      opacity: 51%;
      bottom: 0;
      width: 100%;
      height: 70px;
      padding: 0.75rem 1rem;

      &-label {
        position: relative;
        top: 0.8rem;
        font-family: 'Poppins';
        font-size: 16px;
        color: $color_white;
        margin-bottom: 5px;
      }

      &-links {
        opacity: 0;
        color: $color_white;

        &:hover {
          color: $color_white;
        }
      }
    }
  }
}

.lookbook-detail {
  padding: 0 5rem;

  @media screen and (max-width: 575px) {
    padding: 0;
  }

  &__items {
    img {
      width: 100%;
    }
  }
}

.card-columns {
  @media screen and (max-width: 575px) {
    column-count: 1 !important;
  }

  @media screen and (min-width: 575px) {
    column-count: 2 !important;
  }
}
