.categories {
  display: flex;
  justify-content: flex-end;
  margin: 0 1rem;

  &__item {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;

    &:hover {
      cursor: pointer;
    }

    &--icon {
      width: 1em;
    }
  }
}

.submit {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}

.search-bar {
  outline: 0;
  border-width: 0 0 2px;
  padding: 10px;
  border-color: rgba(0, 0, 0, 0.3);
}

.paging {
  display: block;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.paging li{
  display: inline;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid $color_base_red;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: $color_base_red;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid $color_base_red;
}

input[type='checkbox']:after {
  width: 15px;
  height: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid $color_base_red;
}

input[type='checkbox']:checked:after {
  width: 15px;
  height: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: $color_base_red;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid $color_base_red;
}


.active_paging.item_paging{
  background-color: #fff;
  border: 1px solid $color_base_red;
  border-radius: 6px;
  .link_paging{
    text-align: center;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    color: $color_base_red;
    font-weight: bold;
  }
}

.item_paging{
  text-align: center;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid;
  border-radius: 6px;
}

.link_paging{
  text-align: center;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.contain {
  padding-left: 2rem;
  padding-right: 2rem;
  @media screen and (max-width: 799px) {
    .sidebar {
      display: none;
    }
  }
}

.products {
  margin: 1rem 0;

  &__pagination
  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px;
    padding: 0;
  }

  &__paginationItem
  {
    background: transparent;
    color: $color_base_red;
    margin: 0.5rem;
    border-radius: 4px;
    border: none;
    list-style: none;
    cursor: pointer;

    &:focus,
    &:active
    {
      outline: 0;
      box-shadow: none;
    }
  }

  &__paginationItemActive
  {
    background: $color_base_red;
    color: $color_white;
    padding: 0.5rem 1rem;
  }

  &_filterName {
    font-family: "karla-bold";
    font-size: 14px;
    margin-top: 1rem;
  }

  &_filterPrice {
    position: relative;
    width: 100%;

    /*Chrome*/
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      input[type="range"] {
        overflow: hidden;
        width: 100%;
        -webkit-appearance: none;
        background-color: $color_gray_semi_dark;
        outline: 0;
        box-shadow: none;
        border-radius: 3px;
      }

      input[type="range"]::-webkit-slider-runnable-track {
        height: 15px;
        -webkit-appearance: none;
        color: $color_orange;
        margin-top: -1px;
      }

      input[type="range"]::-webkit-slider-thumb {
        width: 15px;
        height: 15px;
        -webkit-appearance: none;
        cursor: ew-resize;
        background: $color_black;
        box-shadow: -80px 0 0 80px $color_orange;
      }
    }

    /** FF*/
    input[type="range"]::-moz-range-progress {
      background-color: $color_orange;
    }

    input[type="range"]::-moz-range-track {
      background-color: $color_gray_semi_dark;
    }

    /* IE*/
    input[type="range"]::-ms-fill-lower {
      background-color: $color_orange;
    }

    input[type="range"]::-ms-fill-upper {
      background-color: $color_gray_semi_dark;
    }
  }

  &_filterPriceLabel {
    margin: 10px 0 20px 0;
  }

  &_filterOptionLabel {
    display: flex;
    align-items: center;

    & > input {
      margin-right: 10px;
    }
  }

  &_filterSlider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2.5rem;
  }

  &_filterSliderRail {
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 7px;
    background-color: $color_gray_low;
    cursor: pointer;
    pointer-events: none;
  }

  &_filterSliderHandle {
    position: absolute;
    z-index: 2;
    margin-top: -8px;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: 4px solid #dc3545;
    background-color: #dc3545;
    cursor: pointer;
  }

  &_filterSliderTrack {
    position: absolute;
    height: 5px;
    background-color: #dc3545;
    border-radius: 7px;
    cursor: pointer;
  }

  &_filterSliderTooltip {
    position: absolute;
    margin-left: -50px;
    margin-top: -35px;
  }

  &_filterSliderTooltipContainer {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted $color_gray_high_dark;
    margin-left: 20px;
  }

  &_filterSliderTooltipText {
    width: 100px;
    background-color: $color_gray_high_dark;
    color: $color_white;
    opacity: 0.8;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -20px;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $color_gray_high_dark transparent transparent transparent;
    }
  }
}

.products-categories {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &--items {
      margin: 1rem 0;

      &-container {
        display: flex;
      }

      &-icon {
        cursor: pointer;

        .category-icon {
          height: 1em;
          margin-left: 1rem;
        }
      }

      &-selected {
        .products-categories__list--items-value-name {
          font-family: "karla-bold";
        }
      }

      &-value {
        &-name {
          text-transform: capitalize;
        }
      }
    }
  }
}

.products-sort {
  & > p {
    display: none;
  }

  select {

    /* styling */
    background-color: white;
    border: thin solid #eee;
    border-radius: 4px;
    display: inline-block;
    max-width: 100%;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &--items {
      margin: 1rem 0;

      &-button {
        background: transparent;
        padding: 0;
        border: none;

        &:focus,
        &:active {
          color: $color_orange;
          outline: 0;
          border: none;
          box-sizing: none;
        }

        &:hover {
          color: $color_orange;
        }
      }
    }
  }
}

.opsi{
  background-color: $color_white;
  pointer-events: none;

  &-selected{
    background-color: $color_bg_red;
  }
}

