.register-page {
  &-container {
    margin-bottom: 5rem;
    padding: 5rem;
    border-radius: 5px;
    background-color: $color_white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

  &-inner
  {
    width: 650px;
    padding: 5rem;
    align-content: center;
    border-radius: 5px;
    background-color: $color_white;
    box-shadow: 0 0 15px rgba(0,0,0,.15);

    @media screen and (max-width: 575px) {
      width: 100%
    }

    .forgot-password
    {
      display: block;
      text-align: center;

      .forgot-link
      {
        font-family: "karla-bold";
      }
    }

    .footer
    {
      margin: 1rem 0;
      text-align: center;

      a
      {
        font-family: "karla-bold";
      }
    }
  }


  &-form {
    &--label {
      font-family: "karla-bold";
      font-size: 16px;
      margin-bottom: 1rem;
    }

    #emailHelp {
      display: block;
      margin-bottom: 1rem;
    }
  }
}
