.thank-you {
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;

    &--titlePrimary {
      font-size: 22px;
      text-align: center;
      color: $color_green;
    }
  }

  &__inner {
    width: 650px;
    padding: 1.5rem;
    text-align: center;
    align-items: center;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    &--icon {
      height: 140px;
      margin: 2rem 0;

      @media screen and (max-width: 575px) {
        height: 100px;
      }
    }

    span {
      display: block;
      background: $color_gray;
      border: 1px solid $color_gray_text;
      padding: 1rem;
      margin: 2rem 5rem;
      border-radius: 4px;

      @media screen and (max-width: 575px) {
        margin: 2rem 0;
      }
    }
  }
}
