.cart-side-menu
{
  &__item
  {
    display: grid;
    grid-template-columns: 30% 70% auto auto;
    margin-bottom: 1rem;

    &--image
    {
      grid-row: 1/4;

      img
      {
        width: 75px;
        height: 90px;
        object-fit: cover;
      }
    }

    &--detail
    {
      grid-row: 1/2;

      &-title
      {
        font-family: "karla-bold";
      }

      &-variant
      {
        display: flex;
        text-transform: capitalize;
        color: $color_gray_text;

        & > div:first-child
        {
          margin-right: 3px;

          &::after
          {
            content: " /";
          }
        }
      }
    }

    &--price
    {
      grid-row: 2/3;
    }

    &--edit
    {
      grid-column: 2;
      grid-row: 3;
      cursor: pointer;
    }

    &--remove
    {
      grid-column: 2;
      grid-row: 3;
      padding-left: 1.5rem;
      cursor: pointer;
    }

    &-content
    {
      margin-left: .5rem;

      h6 {font-size: 14px; margin-bottom: 0;}
      .title {font-family: "karla-bold";}
      .price {margin-top: .2rem;}
      span {color: rgba(0, 0, 0, .5)}
    }
  }

  &__footer
  {
    margin-top: 2rem;

    &--title
    {
      font-family: "karla-bold";
      font-size: 13px;
    }
  }

  &__empty
  {
    padding: 5rem 0;
    text-align: center;

    &--icon
    {
      width: 2rem !important;
      height: 2rem !important;
    }

    &--title
    {
      font-family: "karla-bold";
      font-size: 1.25rem;
      text-transform: uppercase;
      margin: 1rem 0 .5rem 0;
    }

    &--desc
    {
      color: $color_gray_text;
    }
  }

  &_errorAddCart
  {
    width: 450px;
    background: $color_white;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;

    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }

  &_errorAddCartTitle
  {
    font-family: "karla-bold";
    font-size: 18px;
    margin-bottom: 1rem;
  }

  &_errorAddCartDesc
  {
    font-size: 13px;
    margin-bottom: 0;
  }
}

.order-summary-side-menu
{
  &__header
  {
    &--features
    {
      display: flex;
      justify-content: center;
      
      &-label
      {
        width: 100%;
        color: $color_red;
        border: 1px solid $color_red;
        border-radius: 5px;
        padding: .5rem .5rem;
        cursor: pointer;
        text-align: center;

        &:hover
        {
          color: $color_white;
          background: $color_red;
        }
      }
    }
  }

  &__body
  {
    padding: 1rem;
    margin: 1.5rem -1.5rem !important;
    background: $color_gray;
    
    &--label-subtotal
    {
      font-family: "karla-bold";
      font-size: 14px;
    }

    &--subtotal
    {
      font-family: "karla-bold";
      font-size: 14px;
      text-align: right;
    }
  }

  &__footer
  {
    padding: 0 1rem 1rem 1rem;
  }

  &__overlay
  {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__popup
  {
    padding: 1.5rem;
    background: $color_white;
    border-radius: 5px;
    position: relative;

    &--points
    {
      span:nth-child(1)
      {
        display: block;
        margin-bottom: 5px;
      }

      span:nth-child(2)
      {
        margin-right: 5px;
        font-family: "karla-bold";
        font-size: 1rem;
        text-transform: uppercase;
      }

      svg
      {
        color: $color_red;
        height: 1rem;
        margin-top: -5px;
      }
    }
    
    &-close
    {
      position: absolute;
      right: 0;
      top: 0;
      background: transparent;
      color: $color_gray_text;
      border: none;
      padding: .25rem .5rem;
      cursor: pointer;

      &:focus,
      &:active
      {
        outline: 0;
        border: none; 
      }

      &:hover
      {
        color: $color_black;
      }
    }

    &-form
    {
      &-container
      {
        margin-top: 1rem;
      }

      &-input
      {
        width: 300px !important;
        border-radius: 0 !important;
      }

      &-button
      {
        height: calc(2em + 1rem + 4px);
        border-color: #ced4da !important;
        border-left: 0 !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-radius: 0 !important;
      }
    }
  }
}