@import '../base/scrollbar.scss';

.order-summary {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 86px;
  border-radius: 5px;
  width: 100%;

  @media screen and (max-width: 767px) {
    top: 0;
    margin-bottom: 9rem;
    position: relative;
    margin: 0;
    padding: 0;
  }

  &__wrapper {
    min-width: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
    height: 100%;
    margin-top: 2rem;

    @media screen and (max-width: 767px) {
      margin-top: 32px;
      padding-right: 15px;
      padding-left: 15px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &__wrapperCustom {
    min-width: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
    height: 100%;
    margin-top: 2rem;
    @media screen and (max-width: 767px) {
      margin-top: 32px;
      padding-right: 15px;
      padding-left: 15px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &__header {
    margin: 10px 0;

    &--features {
      display: flex;
      align-items: center;
      flex-direction: row;
      min-height: 44px;
      max-height: 44px;
      height: 44px;
      justify-content: flex-start;
      cursor: pointer;
      border: 1px solid $color_red;
      padding: 0 16px;
      border-radius: 6px;
      background: $color_white;

      &-icon {
        color: $color_red;
        display: flex;
        align-items: center;
      }

      &-label {
        font-size: 11.2px;
        margin-left: 8px;
      }
    }
  }

  &__bodyOrder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    // border-left: 1px solid $color_red;
    // border-right: 1px solid $color_red;
    // border-top: 1px solid $color_red;

    &--label-subtotal {
      font-size: 14px;
      color: white;

      @media screen and (min-width: 768px) {
        font-family: 'Poppins';
      }
    }

    &--subtotal {
      font-family: 'Poppins';
      font-size: 14px;
      color: white;
    }

    @media screen and (max-width: 767px) {
      display: block;
      position: fixed;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 0 20px;
      background: $color_white;
      padding: 20px;
      margin: auto auto 0 !important;
      z-index: 4;
      border: none;
    }
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    // border-left: 1px solid $color_red;
    // border-right: 1px solid $color_red;
    // border-top: 1px solid $color_red;

    &--label-subtotal {
      font-size: 14px;

      @media screen and (min-width: 768px) {
        font-family: 'Poppins';
      }
    }

    &--subtotal {
      font-family: 'Poppins';
      font-size: 14px;
    }

    @media screen and (max-width: 767px) {
      display: block;
      position: fixed;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 0 20px;
      background: $color_white;
      padding: 20px;
      margin: auto auto 0 !important;
      z-index: 4;
      border: none;
    }
  }


  &__footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    // border-left: 1px solid $color_red;
    // border-right: 1px solid $color_red;
    // border-bottom: 1px solid $color_red;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    @media screen and (max-width: 767px) {
      margin: auto auto 0 !important;
      position: fixed;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      z-index: 4;
      border: none;
      border-top: 1 solid $color_gray_lighter;
      box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.05);
    }
  }

  &__submitButton {
    margin-bottom: 0 !important;

    @media screen and (max-width: 767px) {
      width: calc((100% - (32px + 40px)) / 2);
      max-width: calc((100% - (32px + 40px)) / 2);
      min-width: calc((100% - (32px + 40px)) / 2);
    }
  }

  &__overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__popup {
    width: 373px;
    margin: 1rem;
    padding: 1.5rem;
    background: $color_white;
    border-radius: 5px;
    position: relative;

    @media screen and (max-width: 575px) {
      width: 100%;
    }

    &--voucher {
      max-height: 33vh;
      overflow-y: auto;
      padding-right: 10px;
      @extend .scrollbar;

      &-list {
        position: relative;
        padding: 0.5rem;
        border-radius: 4px;
        display: flex;
        border: 1px solid $color_gray_low;
        margin: 5px 0;
      }

      &-detail {
        width: 82%;

        span {
          margin: 0 5px;
        }

        p {
          margin-bottom: 0;
        }
      }

      &-footer {
        button {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      &-textApllied {
        position: absolute;
        top: 12px;
        left: 16px;
        font-size: 11px;
        color: $color_black;
      }
    }

    &--points {
      &-header {
        margin-bottom: 15px;
      }

      &-change {
        background-color: transparent;
        border: 1px solid $color_red;
        box-sizing: border-box;
        border-radius: 3px;
        color: $color_red;
        width: 46px;
        font-size: 24px;
        opacity: 0.4;

        &:hover,
        &:focus {
          outline: 0;
          opacity: 1;
        }

        &.increment {
          margin: 0 4px;
        }
      }

      &-form {
        display: flex;
      }

      &-label {
        font-family: 'Poppins';
        font-size: 16px;
      }

      &-total {
        & > svg {
          display: none;
        }

        & > span {
          color: $color_gray_text_dark;
          font-size: 14px;
        }
      }

      &-value {
        color: $color_gray_text;
        font-size: 14px;
      }

      &-insufficient {
        margin-top: 5px;

        & > p {
          color: $color_danger;
          font-size: 11px;
          line-height: 16px;
          margin-bottom: 0;
        }
      }

      &-submit {
        @extend .btn, .btn-orange, .btn-long;

        width: 100%;
        margin: 10px 0;

        &:disabled {
          background-color: $color_gray_high_dark;
          opacity: 0.35;
          pointer-events: none;
        }
      }

      &-textApllied {
        color: $color_black;
        position: absolute;
        top: 12px;
        left: 16px;
        font-size: 11px;
      }

      &-warning {
        color: $color_danger;
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 0;
        text-align: center;

        & > p {
          margin-bottom: 0;
        }
      }
    }

    &-close {
      position: absolute;
      right: 0;
      top: 0;
      background: transparent;
      color: $color_gray_text;
      border: none;
      padding: 0.25rem 0.5rem;
      cursor: pointer;

      &:focus,
      &:active {
        outline: 0;
        border: none;
      }

      &:hover {
        color: $color_black;
      }
    }

    &-form {
      position: relative;
      &-container {
        margin-top: 1rem;
      }

      &-input {
        width: 100% !important;
        border-radius: 4px !important;

        &.disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }

      &-button {
        position: absolute;
        top: 0;
        right: 0;
        height: calc(2em + 1rem + 4px);
        border-color: #ced4da;
        border-left: 1 !important;
        border-radius: 4px !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
    }
  }

  &_voucherAppliedText {
    color: $color_green;
    white-space: nowrap;
    word-break: keep-all;
    text-overflow: ellipsis;
    width: 90%;
    overflow: hidden;
    margin-top: 0;
  }

  &_voucherButtonRemove {
    color: $color_gray_high_dark;
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &_expandedDiv {
    position: relative;
    z-index: 2;
    background-color: $color_white;
    margin-bottom: -5px;
    font-weight: 300;
    font-size: 13px;
    line-height: 125%;
    // border: solid 1px $color_red;
    border-bottom: 0;
    border-radius: 6px 6px 0 0;
    padding: 20px;
    padding-bottom: 0;

    color: $color_gray_text;

    & > div:first-child {
      color: $color_black;
      font-weight: normal;
    }

    & > div {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: 21px;
      color: $color_green;
    }

    & > *:last-child {
      @media screen and (min-width: 768px) {
        padding-bottom: 16px;
        border-bottom: 1px solid $color_gray_lighterr;
      }
    }

    @media screen and (max-width: 767px) {
      box-shadow: 0px -4px 7px rgba(0, 0, 0, 0.05);
      background-color: $color_white;
      border: none;
      border-top: 1px solid $color_gray_lighter;
      border-bottom: 1px solid $color_gray_lighter;
      padding-bottom: 16px;
      position: relative;
      margin: 0;
      margin: auto auto 0 !important;
      z-index: 9;

      position: fixed;
      top: auto;
      right: 0;
      bottom: 77px;
      left: 0;
    }
  }

  &_expandButton {
    display: none;
    position: absolute;
    right: 35px;
    top: 85px;

    @media screen and (max-width: 767px) {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      top: auto;
      right: 0;
      bottom: 25px;
      left: 0;
      z-index: 7;
      width: 28px;
      height: 28px;
      margin: auto auto 0 !important;
      border: 1px solid $color_red;
      border-radius: 2px;
    }
  }

  &_voucherButtonApplied {
    display: flex;
    justify-content: center;
    color: $color_red;
    background: $color_yellow;
    border-bottom: 1px solid $color_red;
    padding: 16px;
    cursor: pointer;

    @media screen and (max-width: 767px) {
      border-color: $color_gray;
    }

    &.b-right {
      border-right: 0.5px solid $color_red;
      border-top-left-radius: 5px;

      @media screen and (max-width: 767px) {
        border-color: $color_gray;
      }
    }

    &.b-left {
      border-top-right-radius: 5px;
    }
  }
}

.cartOrderSummaryBox {
  border: 1px solid $color_red;
  padding: 1rem;
  padding-bottom: 0;
  border-radius: 5px;
  margin-bottom: 2rem;

  &_title {
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
  }

  &_body {
    @extend .scrollbar;
    overflow-y: auto;
    max-height: 327px;
  }

  &_empty {
    padding: 5rem 0;
    text-align: center;
  }

  &_emptyTitle {
    font-family: "roboto-black";
    font-size: 0.75rem;
    text-transform: uppercase;
    margin: 1rem 0 0.5rem 0;
  }

  @media screen and (max-width: 767px) {
    margin-top: 29px;
  }
}

.cartOrderSummaryBoxCustom {
  // border: 1px solid $color_red;
  padding: 1rem;
  padding-bottom: 0;
  border-radius: 5px;
  margin-bottom: 2rem;

  &_title {
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: white;
  }

  &_body {
    @extend .scrollbar;
    overflow-y: auto;
    max-height: 327px;
  }

  &_empty {
    padding: 5rem 0;
    text-align: center;
    background-color: #424C5A;
  }

  &_emptyTitle {
    font-family: "roboto-black";
    font-size: 0.75rem;
    text-transform: uppercase;
    margin: 1rem 0 0.5rem 0;
  }

  @media screen and (max-width: 767px) {
    margin-top: 29px;
  }
}

.cartItem {
  display: grid;
  grid-template-columns: 30% 30% 30% 10%;
  margin-bottom: 0.75rem;

  &_title {
    font-weight: 600;
    cursor: pointer;
  }

  &_image {
    grid-row: 1/5;
    margin-right: 1rem;

    img {
      width: 100%;
      height: 120px;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &_imageSummary {
    grid-row: 1/3;
    margin-right: 1rem;

    img {
      width: 100%;
      height: 85px;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &_detail {
    grid-row: 1;
    grid-column: 2/5;
    align-self: center;

    & > a {
      font-family: "roboto-medium";
      font-size: 18px;
      cursor: pointer;
    }
  }

  &_priceCalculate {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 2;
    grid-column: 2/4;
    font-size: 16px;
  }

  &_priceCalculateSummary {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 2;
    grid-column: 2/4;
    font-size: 16px;
  }

  &_priceRegular,
  &_priceSaleWrapper {
    font-size: 13px;
    align-self: center;

    &.discount {
      text-decoration: line-through;
      color: $color_red;
    }
  }

  &_priceSale {
    font-size: 13px;
  }

  &_discNote {
    font-size: 12px;
    color: $color_red;
  }

  &_detailSummary {
    grid-row: 1;
    grid-column: 2/5;

    & > a {
      font-family: "roboto-medium";
      font-size: 14px;
      color: $color_white !important;
    }
  }

  &_priceCalculatePriceSummary {
    font-size: 14px;
    color: $color_white !important;
    align-self: center;
  }

  &_price {
    grid-row: 3;
    grid-column: 2;
    font-size: 16px;
  }

  &_priceSummary {
    grid-row: 3 !important;
    grid-column: 2/5;
    font-size: 13px;
    color: $color_white;
  }

  &_qtySummary {
    grid-row: 4 !important;
  }

  &_discountNoteSummary {
    color: rgba($color_white, 0.75);
  }

  &_priceSalePriceWrapperSummary {
    align-self: center;
  }

  &_priceSalePriceSummary {
    font-size: 14px;
    color: $color_white;
  }

  &_qty {
    grid-row: 4;
    grid-column: 2;
    align-self: center;
    display: flex;

    &::before {
      content: "Qty: ";
    }
  }

  &_qtyBox {
    position: relative;
    width: max-content;

    @media screen and (max-width: 575px) {
      text-align: left;
      margin-left: 0;
    }

    input {
      width: 120px;
      border: none;
      margin-left: 0.5rem;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type="number"] {
        -moz-appearance: textfield;
      }
    }
  }

  &_remove {
    grid-row: 4;
    grid-column: 4;
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }

  &_discNote {
    display: none;
  }
}


.cartItemOrder {
  display: grid;
  grid-template-columns: 30% 30% 30% 10%;
  margin-bottom: 0.75rem;

  &_title {
    font-weight: 600;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }

  &_image {
    grid-row: 1/5;
    grid-column: 1/2;
    margin-right: 1rem;

    img {
      width: 100%;
      height: 120px;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &_imageSummary {
    grid-row: 1/3;
    margin-right: 1rem;

    img {
      width: 100%;
      height: 85px;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &_detail {
    grid-row: 1;
    grid-column: 2/5;
    align-self: center;
    color: white;

    & > a {
      font-family: "roboto-medium";
      font-size: 18px;
      cursor: pointer;
    }
  }

  &_priceCalculate {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 2;
    grid-column: 2/4;
    font-size: 16px;
    color: white;
  }

  &_priceCalculateSummary {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 2;
    grid-column: 2/4;
    font-size: 16px;
    color: white;
  }

  &_priceRegular,
  &_priceSaleWrapper {
    font-size: 13px;
    align-self: center;

    &.discount {
      text-decoration: line-through;
      color: $color_red;
    }
  }

  &_priceSale {
    font-size: 13px;
  }

  &_discNote {
    font-size: 12px;
    color: $color_red;
  }

  &_detailSummary {
    grid-row: 1;
    grid-column: 2/5;

    & > a {
      font-family: "roboto-medium";
      font-size: 14px;
      color: $color_white !important;
    }
  }

  &_priceCalculatePriceSummary {
    font-size: 14px;
    color: $color_white !important;
    align-self: center;
  }

  &_price {
    grid-row: 3;
    grid-column: 2;
    font-size: 16px;
  }

  &_priceSummary {
    grid-row: 3 !important;
    grid-column: 2/5;
    font-size: 13px;
    color: $color_white;
  }

  &_qtySummary {
    grid-row: 4 !important;
  }

  &_discountNoteSummary {
    color: rgba($color_white, 0.75);
  }

  &_priceSalePriceWrapperSummary {
    align-self: center;
  }

  &_priceSalePriceSummary {
    font-size: 14px;
    color: $color_white;
  }

  &_qty {
    grid-row: 4;
    grid-column: 2;
    align-self: center;
    display: flex;
    color: white;

    &::before {
      content: "Qty: ";
    }
  }

  &_qtyBox {
    position: relative;
    width: max-content;

    @media screen and (max-width: 575px) {
      text-align: left;
      margin-left: 0;
    }

    input {
      width: 120px;
      border: none;
      margin-left: 0.5rem;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type="number"] {
        -moz-appearance: textfield;
      }
    }
  }

  &_remove {
    grid-row: 4;
    grid-column: 4;
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }

  &_discNote {
    display: none;
  }
}
