.side-menu {
  width: 0;
  top: 0;
  background-color: $color_black_light;
  height: 100vh;
  position: fixed;
  right: -300px;
  transition: all 0.5s;
  padding: 2rem 1.5rem;
  z-index: 30;
  overflow-y: scroll;

  @media screen and (max-width: 767px) {
    padding: 2rem 0.75rem;
  }

  &.show {
    width: 350px;

    @media screen and (max-width: 440px) {
      width: 280px;
    }
  }

  &.right {
    right: 0;
  }
  &.left {
    left: 0;
  }

  .header-side-menu {
    display: flex;
    justify-content: space-between;

    .icon {
      color: rgba(255, 255, 255, 0.898);
      height: 1.4em;

      &:hover {
        cursor: pointer;
        color: $color_black;
      }
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 0.25rem;
    }

    h6 {
      font-family: 'Poppins';
      font-size: 16px;
      color: $color_white;
    }
  }

  &-hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0)
    );
  }

  .currency-language-mobile {
    margin-bottom: 1rem;

    &__label {
      display: flex;
      justify-content: space-between;
    }
  }
}
